<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        Username : <input type="text" name="username" id="username" placeholder="Username"><br>
        Password : <input type="text" name="password" id="password" placeholder="password"><br>
        <input type="submit" value="submit">
    </form>

    <div>
        {% for mes in messages %}
        <h3></h3>{{ mes }}</h3>
        {% endfor %}
    </div>
</body>
</html>