<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}

        First Name : <input type="text" name="first_name" id="first_name" placeholder="First Name"><br>
        Last Name : <input type="text" name="last_name" id="last_name" placeholder="Last Name"><br>
        Username : <input type="text" name="username" id="username" placeholder="Username"><br>
        Email : <input type="text" name="email" id="email" placeholder="email"><br>
        Password : <input type="text" name="password1" id="password1" placeholder="password1"><br>
        Conform Password : <input type="text" name="password2" id="password2" placeholder="password2"><br>
        <input type="submit" value="submit">

    </form>

    
        {% for mes in messages %}
        <h3></h3>{{ mes }}</h3>
        {% endfor %}
    
</body>
</html>