
<div class="card custom-card p-3" style="background: #000; border-radius: 20px;">
    <div class="img"><img src="{{item.image.url}}" alt="{{item.name}}"></div>
    <h4 class="my-2">{{item.name}}</h4>
    <h5 class="my-2">$ {{item.price}}</h5>
    <h5 class="my-2">Discounted $ {{item.discounted_price}}</h5>
    <div class="btns">
        <a href="{% url 'to-cart' itemId=item.id %}" class="btn btn-secondary btn-sm"><i data-feather='shopping-bag'></i></a>
        <a href="{% url 'wishlist.add' id=item.id%}" class="btn btn-secondary btn-sm"><i data-feather='heart'></i></a>
        <a href="{% url 'product.single' slug=item.slug %}" class="btn btn-secondary btn-sm"><i data-feather="arrow-right-circle"></i></a>
    </div>
</div>